include README.md
include LICENSE
include CHANGELOG.md
include CITATION.cff
include TESTING.md
recursive-include examples *.py
recursive-include tests *.py
recursive-include docs *.md *.py *.txt *.html *.svg
prune docs/_build
